
.loginbutton {
    color: #0c66ee;
    background-color: #fff;
    border-color: #0c66ee;
    padding: 1rem 3rem;
    border-radius: 40px;
    border-width: 2px;
    --bs-btn-hover-border-color: #0c66ee;
    &:hover {
        background-color: #0c66ee;
        color: #fff;
    }
}

.signupbutton {
    color: #fff;
    background-color: #0c66ee;
    border-color: #0c66ee;
    padding: 1rem 3rem;
    border-radius: 40px;
    border-width: 2px;
    &:hover{
        color: #0c66ee;
        border-color: #0c66ee;
    }    
}

.header-getstartedbutton {
    color: #fff;
    background-color: #0c66ee;
    border-color: #0c66ee;
    padding: 1rem 3rem;
    border-radius: 40px;
    border-width: 2px;
    &:hover {
        color: #0c66ee;
        background-color: #fff;
        border-color: #fff;
    }
}

.header {
    background: rgb(116,155,213);
background: linear-gradient(225deg, rgba(116,155,213,1) 41%, rgb(155, 218, 232) 48%, rgba(172,190,217,1) 54%, rgba(193,204,221,1) 61%);

}

.header-downloadappbutton {
    color: #0c66ee;
    background-color: #fff;
    border: 2px solid;
    padding: 1rem 3rem;
    border-radius: 40px;
    border-width: 2px;
    &:hover {
        color: #fff;
        background-color: #0c66ee;
    }
}
.header-signup {
    background: linear-gradient(53deg, rgba(70,142,249,1) 0%, rgba(12,102,238,1) 100%);
    background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.h1-span {
    background: linear-gradient(225deg, rgba(57,148,244,1) 0%, rgba(12,211,255,1) 39.06%, rgba(47,124,240,1) 76.56%, rgba(14,101,232,1) 100%);
    background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.headershape1 {
    position: absolute;
    bottom: -20%;
    left: -10%;
    
}

.headershape2 {
    position: absolute;
    top: -10%;
    right: 30%;
}

.headershape3 {
    position: absolute;
    top: 10%;
}

.headershape4 {
    position: absolute;
    bottom: 35%;
    right: 10%;
}

.tables {
    margin-top: -65px;
    padding: 2rem;
}

.tables-container {
    background-color: rgb(220, 214, 214);
    border-radius: 25px;
}

.greenplus {
    color: green; 
    font-size: 1rem; 
    font-weight: bolder;
}

.redminus {
    color: red; 
    font-size: 1rem; 
    font-weight: bolder;
}



.input-generator-money {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid;
    border-radius: 22px;
    border-color: #0c66ee;
    width: 12rem;
    margin-right: 1rem;
}

.input-generator-crypto {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid;
    border-radius: 22px;
    border-color: #0c66ee;
    width: 12rem;
    margin-right: 1rem;
}

.moneyinput {
    border: 0;
    border-left: 1px solid;
    border-color: #0c66ee;
    text-align: end;
    width: 5rem;
}

#currency {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 22px;
    border-color: #0c66ee;
    width: 5rem;
}

.cryptoinput {
    margin-left: 1rem;
    border: 0;
    border-left: 1px solid;
    border-color: #0c66ee;
    text-align: end;
    width: 5rem;
}

#cryptocurrency {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 22px;
    border-color: #0c66ee;
    width: 6rem;
}

.buynow{
    border-radius: 25px;
}